<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/overview">Overview</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
    <div class="container">
      <h2>EC528 Location Aware Hybrid Cloud</h2>
      <p>
        Mentor: Rodrigo Manyari 
      </p>
      <p>
        Group Member: Jiaxing Tian, John Keisling, Prerana Haridoss, Tianyu Gu 
      </p>
      <p>
        Github: <a href="https://github.com/BU-CS-CE-528-2017/Location-Aware-Hybrid-Cloud">https://github.com/BU-CS-CE-528-2017/Location-Aware-Hybrid-Cloud</a>
      </p>

      <p>
      Trello: <a href="https://trello.com/b/yDgoTVTa/location-aware-computing-in-the-hybrid-cloud">https://trello.com/location-aware-computing-in-the-hybrid-cloud</a>
      </p>
    </div>
</div>
  </div>
</body>
</html>