<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/overview">Overview<span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About us</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
    <div class="container">
      <h2>EC528 Location Aware Hybrid Cloud</h2>
      <div> 
        <h3>System Architecture</h3>
        <img src="http://127.0.0.1:8081/images/diagram_2.png" class="img-thumbnail" alt="Cinque Terre" >
        <br><br>
      </div>
      <div> 
        <h3>System Diagram</h3>
        <img src="http://127.0.0.1:8081/images/diagram_1.png" class="img-thumbnail" alt="Cinque Terre" >
        <br><br>
      </div>

    </div>
</div>
  </div>
</body>
</html>